*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.control{
    border: 1px solid black;
    display: flex;
    height: 90vh;
    margin: 10% auto;
    max-width: 400px;
    border-radius: 30px;
    background-color: rgb(80, 80, 80);
    box-shadow: 2px 2px 4px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.control div{
    height: 80px;
    width: 80px;
    background-color: rgb(148, 148, 148);
    margin: 20px;
    border-radius: 5px;
    display: flex;
    padding: 2px;
    cursor:pointer;
    color: rgb(0, 109, 58);
}

.on{
    background-color: rgb(255, 251, 0) !important;
}
